* {
  font-family: Arial, Helvetica, sans-serif !important;
}

body {
  overflow: hidden;
}

#wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 100%;
  transition: top ease 0.3s;
}

#device {
  position: relative;
  width: 250px;
  height: 375px;
  border: solid 5px black;
  border-radius: 5px;
}

.content-area {
  position: absolute;
  top: 0px;
  width: 252px;
  height: 375px;
  background-color: rgb(0, 0, 0);
  /* border-bottom: solid 2px black; */
}

#local-video {
  /* position: absolute; */
  right: 0px;
  top: 0px;
  width: 100px;
  height: 130px;
  border-radius: 10px;
}

#remote-video {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(65, 77, 247);
  object-fit: fill;
}

#chat {
  position: absolute;
  top: 0px;
  left: 600px;
  width: 198px;
  height: 400px;
  border-left: solid 2px black;
  border-bottom: solid 2px black;
}

#chat-area {
  top: 0px;
  width: 198px;
  height: 370px;
  background-color: gray;
  overflow: hidden overlay;
  scroll-behavior: smooth;
}

#chat-area::-webkit-scrollbar {
  width: 4px;
}

#chat-area::-webkit-scrollbar-track {
  background-color: transparent;
}

#chat-area::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.chat-entry {
  padding: 5px;
  width: 100%;
  background-color: darkgray;
  color: white;
}

.chat-entry:nth-child(odd) {
  background-color: gray;
}

#chat-input {
  width: 100%;
  height: 28px;
  border: none;
  outline: none;
}

#input-area {
  position: absolute;
  top: 380px;
  width: 100%;
  height: 98px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

#title {
  width: 100%;
  font-size: 20px;
  padding: 5px;
  color: white;
}

#input-area button {
  position: relative;
  /* margin: 10px; */
}

#stop-stream {
  float: right;
}

#start-stream {
  position: relative;
}

#join-stream-code {
  position: relative;
  margin: 10px;
  /* margin-left: 235px;   */
}
